
/*Geral*/
body{
    font-family: 'Roboto', sans-serif;
}
.main-title{
    color: #0D0D0D;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    padding-top: 25px;
}
ul{
    list-style: none;
}
/*Barra de navegação*/
header, .navbar{
    background-color: #14268C;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

#navbar-links a{
    color: #fff;
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/*HomeCurso*/
#home-area{
    background-color: #0820A6;
}
#home-area .container{
    height: 100vh;
}
#home-area .cont-img, #home-area .cont-txt{
    margin-top: 15%;
}
#home-area .cont-txt .card{
    width: 25rem;
    list-style: none;
}
#home-area .cont-txt .card .card-title{
    font-weight: bolder;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#home-area .cont-txt .card .card-subtitle{
    background-color: #f8ffff;
    padding: 1rem 0;   
    border-radius: 8px;
}
#home-area .cont-txt .card .card-subtitle p{
    color: #0D0D0D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}
#home-area .card ul{
    padding: 0;
    margin: 0;
}
#home-area .card ul li{
    color: #0D0D0D;
    text-align: justify;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 16px;
}
#home-area .card ul i{
    padding-right: 10px;
    color: green;
}
/*Slider*/
.container-fluid{
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 80vh;
    background-color: #0A25BF;
}
#mainSlider .main-corp{
    background-color: #0A25BF;
}
#mainSlider .carousel-item{
    padding-top: 30px;
}
.carousel-indicators .active{
    background-color: #65daf9;
}

#box-area .box-cont{
    background-color: #fff;
}
#box-area .box-cont p{
    font-size: 16px;
    color: #0D0D0D;
    text-align: justify;
}
#pattern-img h4{
    margin-bottom: 20px;
    margin-top: 8%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #0D0D0D;
}
#pattern-img{
    border-radius:  0 8px 8px 0;
}
.company-img{
    height: 500px;
    background-size: cover;
    background-position: top center;
    border-radius: 8px 0 0 8px ;
}
#img1{
    background-image: url('../imgs/profile1.jpg');
    background-position: center center;
}
#img2{
    background-image: url('../imgs/profile3.jpg');
    background-position: center center;

}
#img3{
    background-image: url('../imgs/profile3.jpg');
    background-position: center center;
}
/*equipe*/
#team-area{
    margin: 25px 0;
    padding: 25px 0;
}
#team-area .main-title{
    margin: 25px 0;
    padding: 0;
    color:#0D0D0D;
}
.card-body{
    text-align: center;
}
.card{
    margin-bottom: 10px;
}
/*contato*/
#contact-area{
    text-align: center;
    background-color: #0A25BF;
}
#contact-area .main-title{
    margin: 25px 0;
    padding: 25px 0;
    color:#0D0D0D;
}

.contact-box{
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #fff;
}

.contact-box i{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p{
    font-size: 16px;
    color: #fff;
}

#msg-box p{
    font-size: 22px;
}

/*footer*/
#copy-area {
    background-color: #f1f1f1;
}
#copy-area .container{
    padding: 10px 0;
    text-align: center;
}
#copy-area p{
    margin-bottom: 0;
}
#copy-area .container a{
    text-decoration: none;
    font-weight: bold;
    color: #0D0D0D;
}
#copy-area .container a:hover{
    color: #0A25BF;
}

/*responsive*/
/*tablet*/
@media (max-width: 768px){
    /*Home*/
    #home-area .cont-img, #home-area .cont-txt{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home-area .cont-img{
        width: 250px;
        height: 250px;
        margin: 5% auto;
        padding-top: 3rem;
        
    }

    /*Slider*/
    #mainSlider{
        height: 100vh;
    }
    #mainSlider .carousel-item, #mainSlider .carousel-inner{
        height: 100vh;
    }
    #box-area .box-cont{
        width: 95vw;
        margin: 0 auto;
    }
    #box-area .company-img{
        background-color: gray;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 2;
    }
    #pattern-img{
        z-index: 1;
        height: auto;
        border-radius: 8px;
    }
    #box-area .box-cont{
        margin-top: 1rem;
    }
    #box-area .box-cont p{
        font-size: 15px;
    }
    #box-area .box-cont h4{
        text-align: center;
    }
    .carousel-indicators{
        bottom: -75px;
    }
    /*time*/
    #team-area .col-md-3{
        width: 50%;
        margin-bottom: 30px;
    }
    /*contato*/
    .contact-box{
        border:none;
        margin-top: 1rem;
        margin-bottom: 0;
    }
     #img-box{
        display: none;
    }
}
/*celular*/
@media (max-width: 600px){
    /*geral*/
    .row{
        width: 100vw;
    }
    /*Home*/
    #home-area .cont-img, #home-area .cont-txt{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home-area .cont-img{
        width: 300px;
        height: 300px;
        margin: 5% auto;
        
    }
    /*Slider*/
    #mainSlider{
        height: 100vh;
    }
    #mainSlider .carousel-item, #mainSlider .carousel-inner{
        height: 100vh;
    }
    #box-area .box-cont{
        width: 95vw;
        margin: 0 auto;
    }
    #box-area .company-img{
        background-color: gray;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 2;
    }
    #pattern-img{
        z-index: 1;
        height: auto;
        border-radius: 8px;
    }
    #box-area .box-cont{
        margin-top: 1rem;
    }
    #box-area .box-cont p{
        font-size: 15px;
    }
    #box-area .box-cont h4{
        text-align: center;
    }
    .carousel-indicators{
        bottom: -75px;
    }
    /*Time*/
    #team-area .col-md-3{
        width: 50%;
        margin-bottom: 30px;
    }

    /*Contato*/
    .contact-box{
        border:none;
        margin-top: 1rem;
        margin-bottom: 0;
    }
     #img-box{
        display: none;
    }
}
